In [ ]:
# program to find combination of n and r or nCr using functions 
def fact(n):# def keyword is used to make a function
    temp=1
    for i in range(1,n+1):
        temp*=i
    return temp


n = int(input())
r = int(input())
factn = fact(n)
factr = fact(r)
factnr = fact(n-r)
nCr = (factn)/(factr*factnr)
print(nCr)

4.0

In [ ]:
# syntax of function
def func(a,b):
    print(a+b)

# here we used def for making it a function 
# func -> is name of our function 
# whereas in (a,b) , a and b are parameters that we have passed to our function
# this syntax should be followed to make a function properly
# number of parameters is dependent on the need of function

a = int(input()) 
b = int(input())
func(a,b) # function calling

5

In [ ]:
def print_info(name,id,age):
    print(id+" "+name)
    print("Age is",age)

print_info("Vedant",age=21,id="AL70")#here we are giving 3 parameters
#make sure that parameters are in sequence as declared in function making
# or define the variable in function calling to avoid type error like note in next code block

AL70 Vedant
Age is 21

In [ ]:
def print_info(name,id,age):
    print(id+" "+name)
    print("Age is",age)

print_info("Vedant",21,id="AL70")# here we will get error because id has read 21 and we have 
# given it "AL70" also using variable

TypeError: print_info() got multiple values for argument 'id'

In [ ]:
def print_info(name,id,age):
    print(id+" "+name)
    print("Age is",age)

print_info("Vedant",21,"AL70")# error again read the error and try to understand

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
# program to find prime numbers from the list and return the sum of prime numbers only 
def check_prime(n):
    facts = 0
    for i in range(1,n+1):
        if n%i==0: facts+=1

    if facts ==2:
        return True


num = [3,2,5,17,3,7,8,9,4,3,2,1]
sum_prime = 0
for i in range(len(num)):
    n=num[i]
    ans =  check_prime(n)
    if ans == True:
        sum_prime +=num[i]
print("sum of prime numbers are",sum_prime)

sum of prime numbers are 42

In [17]:
# Lambda Function, also known as anonimous function it has no name
# It has no return value it only return function
# it is not used for code reuseablity
# They can be assigned to a variable and then used
# The variable that is used to store that function also becomes function

X = lambda n:n*n*n
print(type(X))# print class <function>

print(X(3))# function calling

<class 'function'>
27

In [19]:
print((lambda n:n*n*n)(3))# concise and easy version without using variable

27

In [24]:
# take three input from user and print their's average using lambda function

a = int(input())
b = int(input())
c = int(input())
avg = lambda a,b,c:(a+b+c)/3
print(avg(a,b,c))

2.0

In [26]:
print((lambda a,b,c:(a+b+c)/3)(1,2,3))#single line version

2.0

In [27]:
y = lambda x:x[0]=="a"
y("ello")

False

In [32]:
ans = lambda x:x%2==0
a = int(input()) 
if ans(a)==True:
    print("even")
else: print("odd")

even

In [33]:
x = lambda n: "Even" if n%2==0 else "odd"
print(x(2))

Even

In [ ]:
y= lambda a: "prime" if a==2 or a==3 or a==5 or a==7 else "not Prime"
num = int(input())
y(num)

'not Prime'

In [37]:
#Higher order functions 
# functions that accepts other function as parameter or returns the function as an output
lst =[1,2,3,4,5,6]
x = list(map(lambda x:x**2,lst))
print(x)

[1, 4, 9, 16, 25, 36]

In [40]:
lst = [1.25,3.22,4.68,10.95,23.55,12]
x = list(map(lambda x:3.14*(x**2),lst))
print(x)

[4.90625, 32.556776000000006, 68.773536, 376.49385, 1741.4518500000004, 452.16]

In [42]:
lst = ["hello","everyone","raju","keolaari"]
x = list(map(lambda x:x.upper(),lst))
print(x)

['HELLO', 'EVERYONE', 'RAJU', 'KEOLAARI']

In [43]:
# filter function
# make lsit of all the elements greater than 4
lst = [1,2,4,2,4,6,7,5,7,8]
var = list(filter(lambda x: x>4, lst))
print(var)

[6, 7, 5, 7, 8]

In [46]:
lst = ["apple",'avacado',"amrudh","anaar","kela","tamato"]
var = list(filter(lambda x: x[0]=="a",lst))
print(var)

['apple', 'avacado', 'amrudh', 'anaar']

In [47]:
# reduce function 
# return the sum of list 
from functools import reduce
l = [1,2,3,4,5,6,7,8]
y= reduce(lambda x,y:x+y,l)
print(y)

36

In [48]:
l = [1,2,3,4,5,6,7,8]
y= reduce(lambda x,y:x*y,l)
print(y)

40320

In [49]:
l = [1,2,3,4,5,6,7,8]
y= reduce(lambda x,y:x-y,l)
print(y)

-34

In [54]:
#return the minimum value of the list
lst = [1.,4,3,44,5,7,78,5,7,4,0,-1]
v = reduce(lambda x,y:x if x<y else y,lst)
print(v)

-1

In [52]:
num = int(input())
v = reduce(lambda x,y:x*y, range(1,num+1))
print(v)

24