In [2]:
#list creation
x = [1,2,3,4,"hey"]
print(type(x))
print(x)

<class 'list'>
[1, 2, 3, 4, 'hey']

In [ ]:
#list of different data
lst_string =["ab","cd","ef"]
print(lst_string)
lst_integer = [1,2,3,4,5]
print(lst_integer)
lst_mixed = [1,"abcd",True,3.5]
print(lst_mixed)

In [3]:
fruits = ["apple",'Banana',"grapes","mango","Guava"]
print(fruits)

['apple', 'Banana', 'grapes', 'mango', 'Guava']

In [4]:
fruits[3] = "Watermelon"
print(fruits)

['apple', 'Banana', 'grapes', 'Watermelon', 'Guava']

In [6]:
fruits.append("tomato")
print(fruits)

['apple', 'Banana', 'grapes', 'Watermelon', 'Guava', 'tamato', 'tomato']

In [13]:
fruits = ["apple",'Banana',"grapes","mango","Guava"]
fruits.insert(13,"kiwi")
print(fruits)

['apple', 'Banana', 'grapes', 'mango', 'Guava', 'kiwi']

In [16]:
list1 = [1,2,3,[4,7]]
list2 = [4,5,6]
#list1.append(list2)
list1.extend(list2)
print(list1)

[1, 2, 3, [4, 7], 4, 5, 6]

In [17]:
lst = [1,2,3,40]

print(lst)
del lst[2]
print(lst)

[1, 2, 3, 40]
[1, 2, 40]

In [18]:
lst = [1,2,3,40]

print(lst)
del lst
print(lst)

[1, 2, 3, 40]

NameError: name 'lst' is not defined

In [ ]:
lst = [1,2,3,4,5,6]
a = lst.pop(3)#pops that element
print(lst)
print(a)

[1, 2, 3, 5, 6]
4

In [20]:
lst = [1,2,4,2,5,5,3,2,56,67]
print(lst)
lst.remove(1)
print(lst)

[1, 2, 4, 2, 5, 5, 3, 2, 56, 67]
[2, 4, 2, 5, 5, 3, 2, 56, 67]

In [22]:
lst = [1,[4,2],5,5,3,2,56,67]
print(lst)
lst.remove(2)
print(lst)

[1, [4, 2], 5, 5, 3, 2, 56, 67]
[1, [4, 2], 5, 5, 3, 56, 67]

In [ ]:
lst = [1,[4,2],5,5,3,2,56,67]
print(lst.count(1))

0

In [29]:
lst = [1,5,5,3,2,56,67]
lst.reverse()
print(lst)

[67, 56, 2, 3, 5, 5, 1]

In [30]:
lst = [1,[4,2],5,5,3,2,56,67]
lst.index(2)

5

In [34]:
lst = [1,[4,2],5,5,3,2,56,67]
for i in lst:
    print(i,end = ",")

1,[4, 2],5,5,3,2,56,67,

In [36]:
lst = [1,[4,2],5,5,3,2,56,67]
for i in range(len(lst)):
    print(lst[i], end = ' ')

1 [4, 2] 5 5 3 2 56 67

In [37]:
#WAP to print count of even and odd numbers in the list
lst = [1,2,4,3,3,5,5,6,7]
ec = 0
oc = 0
for i in range(len(lst)):
    if lst[i]%2==0: ec+=1
    else: oc+=1

print(oc,ec)

6 3

In [38]:
#WAP which will take list as an input from user ,do plus 5 in even numbers and minus 3 in odd numbers
#WAP to print count of even and odd numbers in the list
lst = [1,2,4,3,3,5,5,6,7]
for i in range(len(lst)):
    if lst[i]%2==0: lst[i]+=5
    else: lst[i]-=3


print(lst)

[-2, 7, 9, 0, 0, 2, 2, 11, 4]

In [1]:
lst = [3,5,7,9,2,8,11,15,12,19]
for i in range(len(lst)):
    if i%2==0: lst[i],lst[i+1]=lst[i+1],lst[i]
print(lst)

[5, 3, 9, 7, 8, 2, 15, 11, 19, 12]

In [4]:
lst = [3,5,7,9,2,8,11,15,12,19,20]
for i in range(0,len(lst)-1,2):
    lst[i],lst[i+1]=lst[i+1],lst[i]
print(lst)

[5, 3, 9, 7, 8, 2, 15, 11, 19, 12, 20]

In [ ]:
# largest element of the array
lst = [3,5,7,9,2,8,11,42,12,19,20]
max = lst[0]
for i in range(len(lst)):
    if lst[i]>max:
        max = lst[i]

print(max)

42

In [ ]:
#find 2nd largest and largest element from the list
lst = [30,5,7,9,2,8,11,42,12,19,20]
sec_max = max = lst[0]

for i in range(len(lst)):
    if lst[i]>max:
        max = lst[i]
    elif sec_max<lst[i]<max:
        sec_max = lst[i]   
print(max)
print(sec_max)

42
30

In [18]:
lst ={2,3,5,1,4,6,7}
num = int(input("Enter the number"))
sum =0
for i in range(1,num+1):
    if num%i==0:
        if i in lst:
            sum+=i

print(sum)

4

In [21]:
lst = [25,3,2,20,8,15,6,12,10]
lst.reverse()
lst1=[lst[0]]
temp = lst[0]
for i in lst:
    if i>temp:
        temp=i
        lst1.append(temp)
lst1.reverse()
print(lst1)

[25, 20, 15, 12, 10]

In [22]:

lst = [3,5,7,2,8,9]
sq_lst =[]
for i in lst:
    sq_lst.append(i*i)
print(sq_lst)

[9, 25, 49, 4, 64, 81]

In [23]:

lst = [3,5,7,2,8,9]
lst1 = [i**2 for i in lst]
print(lst1)

[9, 25, 49, 4, 64, 81]

In [25]:
lst = [3,5,-7,8,-3,12,18,-23]
lst1 = []
lst2 = []
for i in lst:
    if i >0: lst1.append(i)
    else:lst2.append(i)
print(lst1)
print(lst2)

[3, 5, 8, 12, 18]
[-7, -3, -23]

In [26]:
lst = [3,5,-7,8,-3,12,18,-23]
lst1 = [i for i in lst if i>0]
lst2 = [i for i in lst if i<0]
print(lst1)
print(lst2)

[3, 5, 8, 12, 18]
[-7, -3, -23]

In [31]:
lst =[3,5,7,2,8,9,12,13,15]
lst1 = ["even" if i%2==0 else "odd" for i in lst ]
#lst1 = ["even" for i in lst if i%2==0]
print(lst1)

['odd', 'odd', 'odd', 'even', 'even', 'odd', 'even', 'odd', 'odd']

In [32]:
num = [1,2,5,3,1,443,22,9]
num.sort()
print(num)
num.sort(reverse = True)
print(num)

[1, 1, 2, 3, 5, 9, 22, 443]
[443, 22, 9, 5, 3, 2, 1, 1]

In [2]:
nums = [34,1,2,4,5,66,43,8,9]
x=sorted(nums)
print(x)
print(nums)
y = sorted(nums, reverse = True)
print(y)

[1, 2, 4, 5, 8, 9, 34, 43, 66]
[34, 1, 2, 4, 5, 66, 43, 8, 9]
[66, 43, 34, 9, 8, 5, 4, 2, 1]

In [5]:
print(min(nums))
print(sum(nums))
print(max(nums))

1
172
66

In [9]:
lst = [[3,5,2,1],[45,1,34,2],[23,13,46,34],[7,2,5,9]]
op = []
for i in range(len(lst)):
    op.append(max(lst[i]))
print(op)

[5, 45, 46, 9]

In [13]:
lst = [[3,5,2,1],[45,1,34,2],[23,13,46,34],[7,2,5,9]]
op = [max(i) for i in lst]
print(op)

[5, 45, 46, 9]

In [19]:
lst = [[3,5,2,1],[45,1,34,2],[23,13,46,34],[7,2,5,9]]
sum_lst =[]

for i in lst:
    sum_odd = 0
    for j in i:
        if j%2!=0:
           sum_odd +=j
    sum_lst.append(sum_odd)
print(sum_lst)

[9, 46, 36, 21]

In [20]:
lst = [[3,5,2,1],[45,1,34,2],[23,13,46,34],[7,2,5,9]]
for i in range(len(lst)):
    if i%2==0:
        for j in range(len(lst[i])):
            if j%2==0:
                lst[i][j],lst[i+1][j]=lst[i+1][j], lst[i][j]

print(lst)

[[45, 5, 34, 1], [3, 1, 2, 2], [7, 13, 5, 34], [23, 2, 46, 9]]

Jai keolaari..