In [ ]:
#set is mutable
# but set stores only immutable values
#set is unorderable
#set stores unique element only
# set is initialized using "{}", curly brackets
# we cannot store a set inside a set because set is mutable, or see point 2 above
# set is used to perfrom mathematical operations like union, intersection and difference etc

In [ ]:
st = {}#creates empty dictionary 
print(type(st))
st = set()
st = {"hello",1,2,3,4,2.3}
print(st)

<class 'dict'>
{1, 2, 3, 4, 2.3, 'hello'}

In [4]:
st = set([1,2,3,3,4,3,4])
print(st)
print(type(st))

{1, 2, 3, 4}
<class 'set'>

In [ ]:
st = {1,2}
st.add(3)
print(st)
#will give error in this 
st.add([1,2,3])# as list is mutable

{1, 2, 3}

In [7]:
st = {1,2}
st.update([1,2,3])#will not give any error
print(st)

{1, 2, 3}

In [ ]:
# remove() removes element from the set and gives error when element is not present
st = {1,2,3,4,5}
st.remove(2)
print(st)# output = {1,3,4,5}
st.remove(2)# will give error as 2 is no longer in set

{1, 3, 4, 5}

In [ ]:
# discard( ) removes element and does not gives error when element is not present
st = {1,2,3,4}
st.discard(5)
print(st)#no error

{1, 2, 3, 4}

In [11]:
#we can remove element using pop()
st = {1,2,3,4,5}
print(st)

a = st.pop()#removes a random element
print(a)#we can store that popped element
print(st)

{1, 2, 3, 4, 5}
1
{2, 3, 4, 5}

In [ ]:
s = {1,2,3,4,5,6}
print(s)

s.clear()#removes all element from the set 
print(s)# gives empty set,-> set()

{1, 2, 3, 4, 5, 6}
set()

In [ ]:
s = {1,2,3,4,5,6}
del st#this will delete whole set from the memory
print(st)

In [14]:
#WAP to take a string as an input from user and count number of unique character from string
str1 = input("Enter the string")
st = set()
for char in str1:
    st.add(char)

print("unique elements are",len(st))

unique elements are 3

In [18]:
str1 = input("Enter string")
lst = str1.split()
lst = set(lst)
lst = str(lst)
lst = " ".join(lst)
print(lst)
print(len(lst))

{ ' a m ' ,   ' t h e ' ,   ' w a s ' ,   ' a t ' ,   ' i ' ,   ' w h e n ' }
77

In [ ]:
str1 = input("Enter your string")
print(str1)
result = ""
lst = str1.split(" ")
for i in lst:
    i = str(i)
    if i not in result:
        result+=i+" "

print(result)

i am just the as huts

In [21]:
str1 = input("Enter your string")
lst = str1.split()
lst = list(set(lst))
str1  = " ".join(lst)
print(str1)

the at one was

In [23]:
str1 = input("enter the string")
print(str1)
result = ""
lst = str1.split()
for i in lst:
    #i = str(i)
    if i not in result:
        result+=i+" "
print(result)

the was at the one when two the at three
the was at one when two three

In [ ]:
st = {1,3,5,7,9}
st1 = {2,8,4,5,7,9}
st.union(st1)#prints combined elements of both sets or union elements 
# can be done using 
print(st|st1)

{1, 2, 3, 4, 5, 7, 8, 9}

In [11]:
st.intersection(st1)# prints common elements of both the sets or intersection elements
#can be done using 
print(st & st1)

{9, 5, 7}

In [ ]:
st.difference(st1)#prints elements not present in st1 set called difference
print(st - st1)# saame output by using operators

{1, 3}

In [ ]:
st1.difference(st)#prints elements not present in st set
print(st1 - st)# same output

{2, 4, 8}

In [ ]:
#symmetric difference
st.symmetric_difference(st1)#prints elements like union of two sets - intersection of that two sets
#like {1, 2, 3, 4, 5, 7, 8, 9} - {5, 7, 9} = {1, 2, 3, 4, 8}
# or do this 
print(st^st1)#using XOR operator

{1, 2, 3, 4, 8}

In [ ]:
st1.symmetric_difference(st)#there will be no difference in the output

{1, 2, 3, 4, 8}

In [15]:
# we can also make our set immutable which is called frozenset
set1 = frozenset((1,2,3,4))
set2 = frozenset([3,4,5,6])
# here we cannot perform any operation on it after initialization 
# and all other operation remains same like union and intersection
print(set1)
print(set2)

frozenset({1, 2, 3, 4})
frozenset({3, 4, 5, 6})

In [ ]:
print(set1[1])# it will give error

TypeError: 'frozenset' object is not subscriptable

In [ ]:
set1.union(set2)# notice that in every output it will print frozenset.. telling about it's identity

frozenset({1, 2, 3, 4, 5, 6})