Tuple

In [1]:
tpl = ()
tpl1 = tuple()
tpl2 = (1,2,3,"raju",2.3,True)
print(tpl,tpl1,tpl2)

() () (1, 2, 3, 'raju', 2.3, True)

In [2]:
tpl = (5)
print(type(tpl))

<class 'int'>

In [4]:
tpl = 5,
tpl1 = (5,)
print(type(tpl))
print(type(tpl1))

<class 'tuple'>
<class 'tuple'>

In [5]:
tappu = (1,2,3,4,45,5)
print(tappu[1])

2

In [6]:
taplu = (1,3,2,4,2)
taplu[2]=3

TypeError: 'tuple' object does not support item assignment

In [7]:
del tpl
print(tpl)

NameError: name 'tpl' is not defined

In [8]:
del tpl
print(tpl)

NameError: name 'tpl' is not defined

In [ ]:
tpl = (1,2,3,4,5)
tpl+= (6,7,8)#creates a new tuple at different address
print(tpl)

(1, 2, 3, 4, 5, 6, 7, 8)

In [ ]:
tpl = (1,2,3,4,5)
print(id(tpl))#different address
tpl+= (6,7,8)
print(id(tpl))#different address
print(tpl)

1370477109520
1370475356736
(1, 2, 3, 4, 5, 6, 7, 8)

In [11]:
print(dir(tpl))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [14]:
taplu = (1,1,2,3,4,2,1,3,1)
print(taplu.count(1))

4

In [15]:
taplu=list(taplu)
print(type(taplu))

<class 'list'>